# Set your port
LocalHostPort=
# DB connection string: mongodb+srv://admin:admin@primokucluster.3wztrqg.mongodb.net/bluejay_db?retryWrites=true&w=majority
DB_CONNECTION_STRING=
# In your terminal: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))", copy and paste it here
ACCESS_TOKEN_SECRET=