@font-face {
  font-family: 'Nucleo';
  src: url('../fonts/nucleo.eot');
  src: url('../fonts/nucleo.eot') format('embedded-opentype'), url('../fonts/nucleo.woff2') format('woff2'), url('../fonts/nucleo.woff') format('woff'), url('../fonts/nucleo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-page {
  display:flex; 
  background-color: white;
}

.empty-container {
  display: block;
  font-size: larger;
  color: black;
  width: auto;
  text-align: center;
}

.container-left {
  display: inline-block;
  width: 35%;
  background-color: #344675;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  align-items:center;
  margin-left: 10%;
}

.notifications {
  display: inline-block;
  width: 80%;
  margin-top: 20px;
  background-color: #344675;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  align-items:center;
  margin-left: 10%;
}

.container-right {
  display:inline-block;
  width: 35%;
  align-items: center;
  margin-left: 10%;
  background-color: #344675;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}

.order-img {
  display: inline-block;
  background-color: black;
}

.order-text {
  display: inline-block;
}
.mini-header {
  color: black;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 2px;
  text-align: left;
}

.dropdown-icon {
  font-size: large;
}

.head {
  color: black;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  text-align: left;
}

.left-panel {
  align-items: center;
  display: flexbox;
  width: 30%;
  height: 100vh;
  padding:0;
  margin:0;
}


.right-panel {
  width: 100%;
  padding:0;
  margin:0;
  background-color: rgb(238, 238, 245);
  height: 100vh;
  align-items:center;
}

.menu-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  font-size: large;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border:none;
}

.menu-padding {
  margin-top: 50%;
}

.sub-header {
  font-size: medium;
  color: darkgrey;
  margin-left: 20px;
}

.annotation {
  font-size: small;
  padding-left: 30px;
  color: darkgrey;
  margin-bottom: 30px;
}

.menu-button-image {
  width:25px;
  margin-right:10px;
  height:25px;
  float:left;
  margin-left:10px;
}

.new-order-button {
  background-color: mediumorchid;
  color: white;
  border:none;
  padding: 10px;
  border-radius: 10px;
  padding-left:40px;
  padding-right:40px;
}

.new-order-button:hover {
  background-color: darkorchid;
  border-radius:10px;
}

.menu-button:hover {
  background-color: lightgray;
  border-radius:10px;
}

.order-box {
  text-align: left;
  width: 100%;
  border: black 1px;
}

.order-time {
  width: 100%;
  display:block;
  font-size: small;
  background-color: black;
}

.order-name {
  width:100%;
  display:block;
  font-size: 10px;
  color: white;
}

.item:hover {
  background-color: #344675;
  border-radius:10px;
}

.item {
  background-color: #27293d;
  color: black;
  overflow:hidden;
  border: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 1px;
  border-radius:10px;
}


